<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Bus Tickets</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark  fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="images/t-bus.png" alt="logo" style="width:30px;"> Online Bus Tickets
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="listados.html">Destinos</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="listados2.html">Horarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contactenos</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Horarios
        <small>de Salida</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Horarios</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header bg-primary text-white">Penonomé</h3>
            <div class="card-body">
              <div class="display-4">B/.5.25</div>
              <div class="font-italic">Tiempo aproximado: 2:15 hrs</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">4:50 am</li>
              <li class="list-group-item">5:20 am</li>
              <li class="list-group-item">5:50 am</li>
              <li class="list-group-item">
                <a href="#" class="btn btn-primary">Comprar</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card card-outline-primary h-100">
            <h3 class="card-header bg-primary text-white">Chitré</h3>
            <div class="card-body">
              <div class="display-4">B/.9.05</div>
              <div class="font-italic">Tiempo aproximado: 3:15 hrs</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">5:00 am</li>
              <li class="list-group-item">5:45 am</li>
              <li class="list-group-item">6:30 am</li>
              <li class="list-group-item">
                <a href="#" class="btn btn-primary">Comprar</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header bg-primary text-white">Santiago</h3>
            <div class="card-body">
              <div class="display-4">B/.9.10</div>
              <div class="font-italic">Tiempo aproximado: 3:10 hrs</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">5:25 am</li>
              <li class="list-group-item">6:05 am</li>
              <li class="list-group-item">6:45 am</li>
              <li class="list-group-item">
                <a href="#" class="btn btn-primary">Comprar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020 <br> <a href="http://disclaimer.innovacion.gob.pa/" target="_blank"> Declaración de Privacidad </a> </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
